{% extends "Email_Sentiment/layout.html" %} {% load static %}
{% block title %}Sent it before you Send it {% endblock %}

{% block body %}
<h1 class="textCenter">Sent It:</h1>
<h3 class="textCenter">Email and Messaging Sarcasm and Sentiment Analyser</h3>
<div class="center container">
    <div class="return">
        <p class="preSend">Your analysed text will appear here...</p>
    </div>
    <textarea class="text" placeholder="Enter the text you want to check here"></textarea>
    <div class="controls">
        <button name="submit" id="submit">Check It</button>
        <button name="clear" id="clear">Clear It</button></div>
    </div>
</div>

<!-- <div>Message Scores Div</div> -->
{% endblock %}