{% extends "Email_Sentiment/layout.html" %} {% load static %}
{% block title %}Sent it before you Send it {% endblock %}

{% block body %}
{% csrf_token %}
<h1 class="textCenter">Sent It:</h1>
<h3 class="textCenter">Email and Messaging Sarcasm and Sentiment Analyser</h3>
<div class="center row">
    <div class="center container">
        <div class="return" id="return">
            <p class="preSend" id="prereturn">Your analysed text will appear here...</p>
        </div>
        <textarea class="text" placeholder="Enter the text you want to check here" id="textInput"></textarea>
        <div class="controls">
            <button name="submit" id="submit">Check It</button>
            <button name="clear" id="clear">Clear It</button>
        </div>
    </div>
        <div class="outputRankings textCenter">
            <div class="ranking ">
                <p>Sentiment:</p>
                <p class="sentimentRank" id="overall_sentiment">N/A</p>
            </div>
            
            <div class="ranking">
                <p>Sarcasm:</p>
                <p class="sentimentRank" id="overall_sarcasm">N/A</p>
            </div>
            
    </div>
    <div class="center legend">
        <div class="legendbar">
            <p><-- More Positive</p> <p>Neutral</p> <p>Less Possitive --></p>
        </div>
        <div class="legendbar">
            <div class="color1"></div>
            <div class="color2"></div>
            <div class="color3"></div>
            <div class="color4"></div>
            <div class="color5"></div>
            <div class="color6"></div>
            <div class="color7"></div>
            <div class="color8"></div>
            <div class="color9"></div>
            <div class="color10"></div>
            <div class="color11"></div>
        </div>
    </div>
</div>

<!-- <div>Message Scores Div</div> -->
{% endblock %}