
.analysedSpan {
    
    position: relative;
    display: inline-block;
    border: 1px dotted black;
    white-space: normal;
    width: fit-content;
    
}

.analysedSpan:hover {
    font-weight: bolder;
}

.hide {
    z-index: 2;
}
      
.analysedSpan .hide {
    overflow: hidden;
    white-space: pre-wrap;
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    width: 200px;
    max-width: 200px;
    height: fit-content;
    overflow: auto;
    background-color: rgb(35, 58, 77);
    color: whitesmoke;
    text-align: left;
    border: 1px solid grey;
    border-radius: 6px;    
    z-index: 2;
    top: 100%;
    left: 20%;
    margin-right: -60px;
}

.analysedSpan:hover .hide {
    visibility: visible;
}


.AbsoluteTop {
    background-color: #017ed2;
}

.color1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #017ed2;

}

.Sarcastic {
    text-decoration-line: underline;
    text-decoration-color: red;  
    text-decoration-style: wavy;  
}

.NotSarcastic {
    text-decoration: none;
}

.Top { 
    background-color: #01d2af;
}

.color2 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #01d2af;

}

.Top1 { 
    background-color: #01d251;
}

.color3 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #01d251;

}

.Top2 {
    background-color: #24d201;
}

.color4 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #24d201;

}

.Top3 { 
    background-color: #66d201;
}

.color5 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #66d201;

}

.Neutral {
    background-color: #a5d201;
}

.color6 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #a5d201;

}

.worstm3 {
    background-color: #c4d201;
}

.color7 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #c4d201;

}

.Worstm2 {
    background-color: #d2a101;
}

.color8 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #d2a101;

}

.Worstm1 {
    background-color: #d24e01;
}

.color9 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #d24e01;

}

.Worst {
    background-color: #D20103;
}

.color10 {
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #D20103;

}

.ReallyWorst {
    background-color: #d20105c4;
}

.color11 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #d20105c4;

}

body {
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
}

div {
    /* border: 1px solid red; */
}

.center {
    margin: auto;
}

.textCenter {
    text-align: center;
}

.row {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.outputRankings {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 75px;
    height: 60vh;
    width: 3%;
    border-radius: 10px;
    background-color:rgb(80, 80, 80, 0.5)
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    height: 60vh;
    width: 55vw;
    border-radius: 10px;
    background-color:rgb(80, 80, 80, 0.5)
}

textarea {
    border-radius: 10px;
    background-color:rgb(27, 27, 27);
    height: 25vh;
    width: 90%;
    outline: none;
    border: none;
}

textarea::placeholder {
    text-align: center;
}

.return {
    z-index: 0;
    border-radius: 10px;
    background-color:rgb(27, 27, 27);
    height: 25vh;
    width: 90%;
    overflow: hidden;
    overflow-y: auto;
}

.returned {
    z-index: 0;
    overflow: hidden;
    flex-wrap: wrap;
}

.preSend {
    
    text-align: center;
    color: rgb(102, 102, 102);
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.legend {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
    height: 15vh;
    width: 55vw;
    border-radius: 10px;
    background-color:rgb(80, 80, 80, 0.5)
}

.legendbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}